node_modules/
dist/
*.d.ts
*.js.map
*.d.ts.map
!tsconfig.base.json

# Environment
.env
.env.*
!.env.example
test.sh

# TypeScript incremental build
*.tsbuildinfo

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Thor
/docker-volumes/

# Python
__pycache__/
*.pyc
